@charset "utf-8";


#background-layer {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

#background {
	position: absolute;
	left: 0;
	top: 0;
	height: 1070px;
	max-width: 100%;
	z-index: -10;
}


/* NAVIGATION */
header {
	height: 5%;
	width: 100%;
	z-index: 10;	
	position: fixed;
	top: 0px;
	left: -0px;
	transition: top 0.8s;
	display: block;
}

.menu {
	padding: 0.3% 0 2% 0;
	text-align: right;
	line-height: 1.5vw;
	}

ul.menu {margin-top: 0.1%;
}

.menu li {display: inline; 
	padding: 0 60px 0 40px;
	font-size:0.9vw;
	letter-spacing: 0.05em
}

.menu a {text-decoration: none;
    color: #FFFFFF;
	opacity: 0.8;
	padding: 8px;
	font-family: "Qanelas Soft DEMO UltraLight";
	font-weight: bold;
}

nav ul li a:hover {
    opacity: 1;
}




h1 {
	font-family: "Qanelas Soft DEMO ExtraBold";
	font-weight: bold;
	font-size: 300%;
	color: #1e1e1e;
	z-index: 4;
	margin-top: 60%;
	margin-left: 8.3%;
	position: absolute;
	
}


body {
	background: #FFFFFF;
}

#beschreibung {
	font-family: "Qanelas Soft DEMO UltraLight";
	font-size: 120%;
	font-weight: 700;
	z-index: 4;
	position: absolute;
	margin-top: 63%;
	margin-left: 8.3%;
	margin-right: 45%;
	text-align: left;
}

#work-progress-img {
	position: absolute;
	width: 30%;
	z-index: 4;
	margin-left: 61.7%;
	margin-top: 60%;
	transition-duration: 0.5s;
}

#work-progress-img:hover {
	transform: scale(1.1)
	
}

#carouselExampleIndicators {
	width: 30%;
	z-index: 4;
	margin-top: 90%;
	transition-duration: 0.5s;
	position: absolute;
	margin-left: 35%;
}

#carouselExampleIndicators:hover{
	transform: scale(1.1)
}

h2 {
	font-family: "Qanelas Soft DEMO ExtraBold", "Qanelas Soft DEMO UltraLight";
	font-weight: bold;
	font-size: 300%;
	z-index: 4;
	position: absolute;
	top: 175%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#background-bottom {
	position: absolute;
	left: 0;
	margin-top: 90%;
	height: 1070px;
	max-width: 100%;
	z-index: -9;
}


#background-layer-bottom {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: absolute;
  margin-top: 90%;
  left: 0;
  z-index: -9;
}

#email {
	font-family: "Qanelas Soft DEMO UltraLight";
	font-size: 1vw;	
	margin-top: 143.5%;
	margin-left: 4%;
	position: absolute;
	color: #FFFFFF;
	opacity: 0.8;
}

#email:hover {
	opacity: 1;
}

#insta {
	text-decoration: none;
	color: #FFFFFF;
	position: absolute;
	margin-top: 143.5%;
	margin-left: 25%;
	font-family: "Qanelas Soft DEMO UltraLight";
	font-size: 1vw;
	opacity: 0.8;
}

#insta:hover {
	opacity: 1;
}

#phone {
	text-decoration: none;
	color: #FFFFFF;
	position: absolute;
	margin-top: 143.5%;
	margin-left: 35%;
	font-family: "Qanelas Soft DEMO UltraLight";
	font-size: 1vw;
	opacity: 0.8;
}

#phone:hover {
	opacity: 1;
}













