@charset "utf-8";

@font-face{
	font-family: "Qanelas Soft DEMO ExtraBold";
	src: url('../fonts/QanelasSoftDEMO-ExtraBold.otf') format('opentype');
}

@font-face{
	font-family: "Qanelas Soft DEMO UltraLight";
	src: url("../fonts/QanelasSoftDEMO-UltraLight.otf") format("opentype");
}

#background-layer {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9;
}

@media screen and (min-aspect-ratio: 16/9) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;  /* 50% */
  }
	#background {
		width: 100%;
		height: auto;
	}
	#background-bottom {
		width: 100%;
		height: auto;
	}
}

#background {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -10;
}


/* NAVIGATION */
header {
	height: 5%;
	width: 100%;
	z-index: 10;	
	position: fixed;
	top: 0px;
	left: -0px;
	transition: top 0.8s;
	display: block;
}

.menu {
	padding: 0.3% 0 2% 0;
	text-align: right;
	line-height: 1.5vw;
	}

ul.menu {margin-top: 0.1%;
}

.menu li {display: inline; 
	padding: 0 60px 0 40px;
	font-size:0.9vw;
	letter-spacing: 0.05em
}

.menu a {text-decoration: none;
    color: #FFFFFF;
	opacity: 0.8;
	padding: 8px;
	font-family: "Qanelas Soft DEMO UltraLight";
	font-weight: bold;
}

nav ul li a:hover {
    opacity: 1;
}

#logo {
	z-index: 10;
	display: block;
	width: 10%;
	margin-left: 10%;
	margin-right: auto;
	margin-top: 10%;
}

#box {
	width: 60%;
	height: 120%;
	background-color: #ffffff;
	position: absolute;
	z-index: 1;
	margin-left: 20%;
	margin-top: 18%;
	margin-bottom: 5%;
	
}


h1 {
	font-family: "Qanelas Soft DEMO ExtraBold";
	font-weight: bold;
	font-size: 300%;
	color: #1e1e1e;
	z-index: 4;
	margin-top: 60%;
	margin-left: 8.3%;
	position: absolute;
	
}

#beschreibung {
	font-family: "Qanelas Soft DEMO UltraLight";
	font-size: 120%;
	font-weight: 700;
	z-index: 4;
	position: absolute;
	margin-top: 64%;
	margin-left: 8.3%;
	margin-right: 45%;
	text-align: left;
}


#services-title {
	font-family: "Qanelas Soft DEMO ExtraBold", "Qanelas Soft DEMO UltraLight";
	font-weight: bold;
	font-size: 300%;
	z-index: 4;
	position: absolute;
	top: 177%;
    left: 50%;
    transform: translate(-50%, -50%);
}


body {
	background: #FFFFFF;
}



 .buttonorder {
  background-color: #a693ef;
  color: white;
  padding: 5px 80px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1vw;
  transition-duration: 0.4s;
  cursor: pointer;
  top: 255%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  position: absolute;
  font-family: "Qanelas Soft DEMO ExtraBold";
  border-radius: 100px;
  border: 3px solid;
  border-color: #a693ef;
}

.buttonorder:hover {
  color: #a693ef;
  background-color: #FFFFFF;
  border-width: 3px;
  border-color: #a693ef;
  transform: scale(1.2,1.2) translate(-42%, -40%);
  top: 255%;
  left: 50%;
  
}


#offers-logos {
	position: absolute;
	z-index: 4;
	margin-left: 20%;
	margin-top: 90%;
	cursor: pointer;
	width: 15%;
}

#offers-logos:hover {
	content: url("../img/startseite/logos-hover.png");
}

#offers-prints {
	position: absolute;
	z-index: 4;
	display: block;
	margin-top: 90%;
    left: 50%;
    transform: translate(-50%, 0%);
	width: 15%;
	cursor: pointer;
}

#offers-prints:hover {
	content: url("../img/startseite/print-hover.png");
}

#offers-complete-set {
	position: absolute;
	z-index: 4;
	margin-left: 65%;
	margin-top: 90%;
	width: 15%;
	cursor: pointer;
}

#offers-complete-set:hover {
	content: url("../img/startseite/complete-set-hover.png");
}


#background-bottom {
	position: absolute;
	left: 0;
	margin-top: 90%;
	z-index: -9;
}


#background-layer-bottom {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: absolute;
  margin-top: 90%;
  left: 0;
  z-index: -9;
}


#email {
	font-family: "Qanelas Soft DEMO UltraLight";
	font-size: 1vw;	
	margin-top: 143.5%;
	margin-left: 4%;
	position: absolute;
	color: #FFFFFF;
	opacity: 0.8;
}

#email:hover {
	opacity: 1;
}

#insta {
	text-decoration: none;
	color: #FFFFFF;
	position: absolute;
	margin-top: 143.5%;
	margin-left: 25%;
	font-family: "Qanelas Soft DEMO UltraLight";
	font-size: 1vw;
	opacity: 0.8;
}

#insta:hover {
	opacity: 1;
}

#phone {
	text-decoration: none;
	color: #FFFFFF;
	position: absolute;
	margin-top: 143.5%;
	margin-left: 35%;
	font-family: "Qanelas Soft DEMO UltraLight";
	font-size: 1vw;
	opacity: 0.8;
}

#phone:hover {
	opacity: 1;
}












