@charset "utf-8";

#background-layer {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9;
}

@media screen and (min-aspect-ratio: 16/9) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
	#background {
		width: 100%;
		height: auto;
	}
	#background-bottom {
		width: 100%;
		height: auto;
	}
}

#background {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -10;
}


/* NAVIGATION */
header {
	height: 5%;
	width: 100%;
	z-index: 10;	
	position: fixed;
	top: 0px;
	left: -0px;
	transition: top 0.8s;
	display: block;
}

.menu {
	padding: 0.3% 0 2% 0;
	text-align: right;
	line-height: 1.5vw;
	}

ul.menu {margin-top: 0.1%;
}

.menu li {display: inline; 
	padding: 0 60px 0 40px;
	font-size:0.9vw;
	letter-spacing: 0.05em
}

.menu a {text-decoration: none;
    color: #FFFFFF;
	opacity: 0.8;
	padding: 8px;
	font-family: "Qanelas Soft DEMO UltraLight";
	font-weight: bold;
}

nav ul li a:hover {
    opacity: 1;
}



h1 {
	font-family: "Qanelas Soft DEMO ExtraBold";
	font-weight: bold;
	font-size: 300%;
	color: #1e1e1e;
	z-index: 4;
	margin-top: 60%;
	margin-left: 25%;
	position: absolute;
	
}

#untertitel {
	font-family: "Qanelas Soft DEMO UltraLight";
	font-size: 90%;
	font-weight: 700;
	z-index: 4;
	position: absolute;
	margin-top: 63.3%;
	margin-left: 25%;
	margin-right: 52%;
	text-align: justify;
}

#beschreibung {
	font-family: "Qanelas Soft DEMO UltraLight";
	font-size: 120%;
	font-weight: 700;
	z-index: 4;
	position: absolute;
	margin-top: 65.2%;
	margin-left: 25%;
	margin-right: 50%;
	text-align: justify;
}

#icon {
	position: absolute;
	z-index: 2;
	width: 15%;
	margin-top: 60%;
	margin-left: 8.3%;
}

#offerings {
	font-family: "Qanelas Soft DEMO ExtraBold", "Qanelas Soft DEMO UltraLight";
	font-weight: bold;
	font-size: 200%;
	z-index: 4;
	position: absolute;
	top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
}


body {
	background: #ffffff;
}

#background-bottom {
	position: absolute;
	left: 0;
	margin-top: 60%;
	z-index: -9;
}


#background-layer-bottom {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: absolute;
  margin-top: 60%;
  left: 0;
  z-index: -9;
}

#email {
	font-family: "Qanelas Soft DEMO UltraLight";
	font-size: 1vw;	
	margin-top: 113.5%;
	margin-left: 4%;
	position: absolute;
	color: #FFFFFF;
	opacity: 0.8;
}

#email:hover {
	opacity: 1;
}

#insta {
	text-decoration: none;
	color: #FFFFFF;
	position: absolute;
	margin-top: 113.5%;
	margin-left: 25%;
	font-family: "Qanelas Soft DEMO UltraLight";
	font-size: 1vw;
	opacity: 0.8;
}

#insta:hover {
	opacity: 1;
}

#phone {
	text-decoration: none;
	color: #FFFFFF;
	position: absolute;
	margin-top: 113.5%;
	margin-left: 35%;
	font-family: "Qanelas Soft DEMO UltraLight";
	font-size: 1vw;
	opacity: 0.8;
}

#phone:hover {
	opacity: 1;
}





















